*{
	border: 0 none;
	outline: 0;
	padding: 0;
    margin: 0;
    font-family: arial, verdana, sans-serif;
}

#header{
    width: 1000px;
    background-color: white;
}

#name > h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#name{
    display: inline-block;
    margin: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#title{
    display: inline-block;
    vertical-align: top;    
    margin-left: 375px;
    margin-top: 25px;
}

#backdrop{
    width: 1000px;
    background: radial-gradient(#6f5965, #1c0c10);
    padding: 10px;
}

#profilepic{
    display: inline-block;
    width: 420px;
    margin: 10px;
    border: solid 5px #c0c0c0;
}

h3{
    color: white;
    padding: 8px;
    background: linear-gradient(#b1b0b5, #878692, #b1b0b5);
}

h4{
    color: white;
    padding: 8px;
    background: linear-gradient(#b1b0b5, #878692, #b1b0b5);
}

p{
    margin: 10px;
}

.bottom > p{
    height: 185px;
}

#continue{
    margin: 10px;
    color: black;
}

#aboutme{
    display: inline-block;
    vertical-align: top;
    width: 524px;
    height: 286px;
    background: linear-gradient(to right, white, #daccd9);
    margin: 10px;
}

.techs{
    margin: 6px 14px;
}

.tech{
    width: 40px;
    margin: 6px;
}

.ximg{
    width: 310px;
}

.button{
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    color: white;
    padding: 6px;
    text-align: center;
    background-color: #417d61;
    border-radius: 10px;
    border: solid #345043 2px;
    box-shadow: 4px 4px 7px #808684;
}

#lbtn{
    margin-left: 122px;
}

#fbtn{
    margin-left: 101px;
}

#ebtn{
    margin-left: 119px;
}


.bottom{
    display: inline-block;  
    vertical-align: top;  
    height: 620px;
    margin: 10px;
    width: 310px;
    background: linear-gradient(to right, white, #daccd9);
}

.bottom > p{
    text-align: justify;
}

.foot{
    width: 20px;
    vertical-align: text-top;
}

.contact{
    text-align: center;
}

#footer{
    width: 1000px;
}

.ital{
    font-style: italic;  
    color: black;  
}